<div class="background-white p20 mb30">
    <h3 class="page-title">
        Biography

        <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
    </h3>

    <textarea class="form-control" rows="7"></textarea>
</div>