<div class="background-white p20 mb30">
    <h3 class="page-title">Modification de votre mot de passe</h3>
    <div class="row">
        {{ form_start(changePasswordForm) }}
        <div class="form-group col-sm-12">
            {{ form_row(changePasswordForm.currentPassword) }}
        </div><!-- /.form-group -->
        <div class="form-group col-sm-12">
            {{ form_row(changePasswordForm.newPassword) }}
        </div><!-- /.form-group -->
        <button type="submit" class="btn btn-primary pull-right">Save</button>
        {{ form_end(changePasswordForm) }}
    </div><!-- /.row -->
</div>