<div class="background-white p20 mb30">
    <h3 class="page-title">
        Contact Information

        <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
    </h3>

    <div class="row">
        <div class="form-group col-sm-6">
            <label>Name</label>
            <input type="text" class="form-control" value={{ user.prenom }}>
        </div><!-- /.form-group -->

        <div class="form-group col-sm-6">
            <label>Surname</label>
            <input type="text" class="form-control" value={{ user.nom }}>
        </div><!-- /.form-group -->

        <div class="form-group col-sm-12">
            <label>E-mail</label>
            <input type="text" class="form-control" value={{ user.email }}>
        </div><!-- /.form-group -->
    </div><!-- /.row -->
</div>