<div class="widget">
    <div class="user-photo">
        <a href="#">
                <img src="{{ user.image }}" alt="User Photo" />
            <span class="user-photo-action">Click here to reupload</span>
        </a>
    </div><!-- /.user-photo -->
</div><!-- /.widget -->