{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="content">
                <div class="mt80">
                    {% include 'security/partials/_login_form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
