<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h2>A propos de Bien-Être</h2>

                    <p>Projet Web dynamique</p>
                </div><!-- /.col-* -->

                <div class="col-sm-6">
                    <h2>Contact Information</h2>

                    <p>
                        Rue Saint-Laurent, Liège<br>
                        +32(0)474 12 34 56, <a href="mailto:info@annuaire.be">info@annuaire.be</a>
                    </p>
                </div><!-- /.col-* -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.footer-top -->

    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-left">
                &copy; 2019 All rights reserved. Created by Thise Jean-francois.
            </div><!-- /.footer-bottom-left -->
        </div><!-- /.container -->
    </div>
</footer><!-- /.footer -->