<div class="header-top">
    {% if user_type is defined %}
        {{ include('partials/_header_nav_login.html.twig') }}
    {% else %}
        <ul class="header-nav-secondary nav nav-pills">
            <li><a href={{ path('app_login') }}>Login</a></li>
            <li><a href="register.html">Register</a></li>
        </ul>
    {% endif %}
</div><!-- /.header-top -->