<div class="sidebar-secondary-admin">
    <ul>
        <li class="active">
            <a href="admin-dashboard.html">
                <span class="icon"><i class="fa fa-tachometer"></i></span>
                <span class="title">Dashboard</span>
                <span class="subtitle">Manage your website</span>
            </a>
        </li>

        <li >
            <a href="admin-forms.html">
                <span class="icon"><i class="fa fa-i-cursor"></i></span>
                <span class="title">Forms <span class="notification">3</span> </span>
                <span class="subtitle">View form styles</span>
            </a>
        </li>

        <li >
            <a href="admin-tables.html">
                <span class="icon"><i class="fa fa-table"></i></span>
                <span class="title">Tables</span>
                <span class="subtitle">Default table style</span>
            </a>
        </li>

        <li >
            <a href="admin-grid.html">
                <span class="icon"><i class="fa fa-th"></i></span>
                <span class="title">Grid <span class="notification">2</span></span>
                <span class="subtitle">Bootstrap Grid</span>
            </a>
        </li>

        <li >
            <a href="admin-notifications.html">
                <span class="icon"><i class="fa fa-bell"></i></span>
                <span class="title">Notifications</span>
                <span class="subtitle">Alert messages</span>
            </a>
        </li>
    </ul>
</div><!-- /.sidebar-secondary-profil -->