{% extends 'base.html.twig' %}

{% block title %}Bien-Être - Profil Page{% endblock %}

{% block body %}
    <div class="main">
        <div class="outer-admin">
            <div class="wrapper-admin">
                <div class="content-admin">
                    <div class="content-admin-wrapper">
                        {% block content %}{% endblock %}
                        {% block contentFooter %}{% endblock %}
                    </div><!-- /.content-admin-wrapper -->
                </div><!-- /.content-admin -->
            </div><!-- /.wrapper-admin -->
        </div><!-- /.outer-admin -->
    </div><!-- /.main -->
{% endblock %}
{% block footer %}{% endblock %}