{% extends 'profil/layout.html.twig' %}
{% block title %}Bien-Être - Profil Page{% endblock %}
{% block content %}
    <div class="page-title">
        <h1>Edit Profile</h1>
    </div><!-- /.page-title -->
    {% if app.user.roles[0] == 'ROLE_PRESTATAIRE'%}
        {{ include('profil/partials/_contact_prestataire_information.html.twig') }}
    {% else %}
        {{ include('profil/partials/_contact_user_information.html.twig') }}
    {% endif %}
{% endblock %}