{% block search %}
    <form class="filter" method="post" action="?">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <input type="text" placeholder="Keyword" class="form-control">
                </div><!-- /.form-group -->
            </div><!-- /.col-* -->

            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <select class="form-control" title="Select Location">
                        <option>Bronx</option>
                        <option>Brooklyn</option>
                        <option>Manhattan</option>
                        <option>Staten Island</option>
                        <option>Queens</option>
                    </select>
                </div><!-- /.form-group -->
            </div><!-- /.col-* -->

            <div class="col-sm-12 col-md-4">
                <div class="form-group">
                    <select class="form-control" title="Select Category">
                        <option value="">Automotive</option>
                        <option value="">Jobs</option>
                        <option value="">Nightlife</option>
                        <option value="">Services</option>
                    </select>
                </div><!-- /.form-group -->
            </div><!-- /.col-* -->
        </div><!-- /.row -->

        <hr>

        <div class="row">
            <div class="col-sm-8">
                <div class="filter-actions">
                    <a href="#"><i class="fa fa-close"></i> Reset Filter</a>
                    <a href="#"><i class="fa fa-save"></i> Save Search</a>
                </div><!-- /.filter-actions -->
            </div><!-- /.col-* -->

            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Redefine Search Result</button>
            </div><!-- /.col-* -->
        </div><!-- /.row -->
    </form>
{% endblock %}