{% extends 'base.html.twig' %}

{% block body %}
    <div class="main">
        <div class="main-inner">
            <div class="content">
                <div class="mt-150">
                    <div class="hero-image">
                        <div class="hero-image-inner" style="background-image: url({{ asset('assets/img/tmp/slider-large-3.jpg') }})">
                            <div class="hero-image-content">
                                {% block categorie %}{% endblock %}
                            </div><!-- /.hero-image-content -->
                            <div class="hero-image-form-wrapper">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm-4 col-sm-offset-8 col-lg-4 col-lg-offset-7">
                                           {% block search %}{% endblock %}
                                        </div><!-- /.col-* -->
                                    </div><!-- /.row -->
                                </div><!-- /.container -->
                            </div><!-- /.hero-image-form-wrapper -->
                        </div><!-- /.hero-image-inner -->
                    </div><!-- /.hero-image -->
                </div>
                    {% block service_du_mois %}{% endblock %}
                        <div class="block background-white background-transparent-image fullwidth">
                    {% block dernier_prestataire %}{% endblock %}
                </div>
                    {% block contact %}{% endblock %}
                </div><!-- /.container -->
            </div><!-- /.content -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->
{% endblock %}
