<h2 id="reviews">All Reviews</h2>
<div class="reviews">
    <div class="review">
        <div class="review-image">
            <img src="assets/img/tmp/agent-1.jpg" alt="">
        </div><!-- /.review-image -->

        <div class="review-inner">
            <div class="review-title">
                <h2>Nancy Collins</h2>

                <span class="report">
                    <span class="separator">&#8226;</span><i class="fa fa-flag" title="Report" data-toggle="tooltip" data-placement="top"></i>
                </span>

                <div class="review-overall-rating">
                    <span class="overall-rating-title">Total Score:</span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                </div><!-- /.review-rating -->
            </div><!-- /.review-title -->

            <div class="review-content-wrapper">
                <div class="review-content">
                    <div class="review-pros">
                        <p>Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus. Suspendisse ac cursus elit. In congue mattis felis, non hendrerit orci dictum id.</p>
                    </div><!-- /.pros -->
                    <div class="review-cons">
                        <p>Duis et magna vel est tempus vehicula vitae sit amet enim. Sed vitae ligula congue.</p>
                    </div><!-- /.cons -->
                </div><!-- /.review-content -->

                <div class="review-rating">
                    <dl>
                        <dt>Food</dt>
                        <dd>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </dd>
                        <dt>Staff</dt>
                        <dd>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </dd>
                        <dt>Value</dt>
                        <dd>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </dd>
                        <dt>Atmosphere</dt>
                        <dd>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </dd>
                    </dl>
                </div><!-- /.review-rating -->
            </div><!-- /.review-content-wrapper -->

        </div><!-- /.review-inner -->
    </div><!-- /.review -->

    <div class="review">
        <div class="review-image">
            <img src="assets/img/tmp/agent-2.jpg" alt="">
        </div><!-- /.review-image -->

        <div class="review-inner">
            <div class="review-title">
                <h2>Kim Glove</h2>
                <span class="report">
                    <span class="separator">&#8226;</span><i class="fa fa-flag" title="Report" data-toggle="tooltip" data-placement="top"></i>
                </span>


                <div class="review-overall-rating">
                    <span class="overall-rating-title">Total Score:</span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                    <i class="fa fa-star-o"></i>
                    <i class="fa fa-star-o"></i>
                </div><!-- /.review-rating -->
            </div><!-- /.review-title -->

            <div class="review-content-wrapper">
                <div class="review-content">
                    <div class="review-pros">
                        <p>Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus.</p>
                    </div><!-- /.pros -->
                    <div class="review-cons">
                        <p>Suspendisse ac cursus elit. In congue mattis felis, non hendrerit orci dictum id. Duis et magna vel est tempus vehicula vitae sit amet enim. Sed vitae ligula congue.</p>
                    </div><!-- /.cons -->
                </div><!-- /.review-content -->

                <div class="review-rating">
                    <dl>
                        <dt>Food</dt>
                        <dd>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </dd>
                        <dt>Staff</dt>
                        <dd>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </dd>
                        <dt>Value</dt>
                        <dd>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </dd>
                        <dt>Atmosphere</dt>
                        <dd>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        </dd>
                    </dl>
                </div><!-- /.review-rating -->
            </div><!-- /.review-content-wrapper -->

        </div><!-- /.review-inner -->
    </div><!-- /.review -->

    <div class="review">
        <div class="review-image">
            <img src="assets/img/tmp/agent-5.jpg" alt="">
        </div><!-- /.review-image -->

        <div class="review-inner">
            <div class="review-title">
                <h2>Richard Peterson</h2>
                <span class="report">
                    <span class="separator">&#8226;</span><i class="fa fa-flag" title="Report" data-toggle="tooltip" data-placement="top"></i>
                </span>

                <div class="review-overall-rating">
                    <span class="overall-rating-title">Total Score:</span>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div><!-- /.review-rating -->
            </div><!-- /.review-title -->

            <div class="review-content-wrapper">
                <div class="review-content">
                    <div class="review-pros">
                        <p>Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus. Suspendisse ac cursus elit. In congue mattis felis, non hendrerit orci dictum id.</p>
                    </div><!-- /.pros -->
                    <div class="review-cons">
                        <p>Duis et magna vel est tempus vehicula vitae sit amet enim. Sed vitae ligula congue.</p>
                    </div><!-- /.cons -->
                </div><!-- /.review-content -->

                <div class="review-rating">
                    <dl>
                        <dt>Food</dt>
                        <dd>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </dd>
                        <dt>Staff</dt>
                        <dd>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </dd>
                        <dt>Value</dt>
                        <dd>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </dd>
                        <dt>Atmosphere</dt>
                        <dd>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </dd>
                    </dl>
                </div><!-- /.review-rating -->
            </div><!-- /.review-content-wrapper -->

        </div><!-- /.review-inner -->
    </div><!-- /.review -->

</div><!-- /.reviews -->