<div class="background-white p20">
    <div class="detail-overview-hearts">
        <i class="fa fa-heart"></i> <strong>213 </strong>people love it
    </div>
    <div class="detail-overview-rating">
        <i class="fa fa-star"></i> <strong>4.3 / 5 </strong>from <a href="#reviews">316 reviews</a>
    </div>

    <div class="detail-actions row">
        <div class="col-sm-4">
            <div class="btn btn-primary btn-book"><i class="fa fa-shopping-cart"></i> Book Now</div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="btn btn-secondary btn-share"><i class="fa fa-share-square-o"></i> Share
                <div class="share-wrapper">
                    <ul class="share">
                        <li><i class="fa fa-facebook"></i> Facebook</li>
                        <li><i class="fa fa-twitter"></i> Twitter</li>
                        <li><i class="fa fa-google-plus"></i> Google+</li>
                        <li><i class="fa fa-pinterest"></i> Pinterest</li>
                        <li><i class="fa fa-chain"></i> Link</li>
                    </ul>
                </div>
            </div>
        </div><!-- /.col-sm-4 -->
        <div class="col-sm-4">
            <div class="btn btn-secondary btn-claim"><i class="fa fa-hand-peace-o"></i> Claim</div>
        </div><!-- /.col-sm-4 -->
    </div><!-- /.detail-actions -->
</div>