<h2 class="widgettitle">Stage:</h2>

<div class="cards-small">
    <div class="card-small">
        <div class="card-small-image">
            <a href="listing-detail.html">
                <img src="assets/img/tmp/product-2.jpg" alt="Tasty Brazil Coffee">
            </a>
        </div><!-- /.card-small-image -->

        <div class="card-small-content">
            <h3><a href="listing-detail.html">Tasty Brazil Coffee</a></h3>
            <h4><a href="listing-detail.html">New York / Village</a></h4>

            <div class="card-small-price">$180 / person</div>
        </div><!-- /.card-small-content -->
    </div><!-- /.card-small -->
</div><!-- /.cards-small -->