{% extends 'admin/layout.html.twig' %}

{% block header %}{% include 'admin/partials/_header.html.twig' with {'user':user} %}{% endblock %}

{% block content %}


{% endblock %}
{% block contentFooter %}
    <div class="content-admin-footer">
        <div class="container-fluid">
            <div class="content-admin-footer-inner">
                &copy; 2020 All rights reserved. Created by <a href="#">Thise Jean-Francois</a>.
            </div><!-- /.content-admin-footer-inner -->
        </div><!-- /.container-fluid -->
    </div><!-- /.content-admin-footer  -->
{% endblock %}