@import "./font-awesome/css/font-awesome.css";

body {
    background-color: lightgray;
}

.categ{
    margin-top: 120px;
}
.list-group{
    height: 120px;
    overflow: auto;
}

.badge{
    background-color: #7C7C7C;
}