{% extends 'categorie_de_service/layout.html.twig' %}
{% block categorie_de_service %}
    <div class="content">
        <div class="document-title mt0">
            <h1>Catégorie de service</h1>
            <ul class="breadcrumb">
                <li><a href={{ path('home_page') }}>Bien être</a></li>
                <li><a href={{ path('categorie_de_service') }}>Catégorie de service</a></li>
            </ul>
        </div><!-- /.document-title -->
        {% block search %}

        {% endblock %}

        {% if categorieDeServices|length <= 1 %}
            <h2>Catégorie:</h2>
            {% include 'categorie_de_service/partials/_card.html.twig' with  {'categorieDeService':categorieDeServices } %}
            <h3 class="page-title"> {{ categorieDeServices[0][0].prestataires|length }} prestataires trouvés:</h3>
            {% for prestataire in categorieDeServices[0][0].prestataires %}
                {% include 'default/partials/_dernier_prestataire.html.twig' with {'prestataire':prestataire} %}
            {% endfor %}
        {% else %}
            <h2 class="page-title"> {{ categorieDeServices|length }} catégories trouvées:</h2>
            {% include 'categorie_de_service/partials/_card.html.twig' with  {'categorieDeService':categorieDeServices } %}
        {% endif %}
    </div><!-- /.content -->
{% endblock %}



