<div class="col-sm-6">
    <div class="card" data-background-image="assets/img/tmp/product-4.jpg">
        <div class="card-label">
            <a href="listing-detail.html">{{ prestataire.siteInternet }}</a>
        </div><!-- /.card-label -->

        <div class="card-content">
            <h2><a href="listing-detail.html">{{ prestataire.nom }}</a></h2>

            <div class="card-meta">
                <i class="fa fa-map-o"></i> {{ prestataire.adresseRue }} {{ prestataire.adresseNumero }}
            </div><!-- /.card-meta -->

            <div class="card-rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div><!-- /.card-rating -->

            <div class="card-actions">
                <a href="#" class="fa fa-bookmark-o"></a>
                <a href="listing-detail.html" class="fa fa-search"></a>
                <a href="#" class="fa fa-heart-o"></a>
            </div>
        </div><!-- /.card-content -->
    </div><!-- /.card -->
</div>