<form method="get" action="?">
    <h2>Start Searching</h2>

    <div class="hero-image-keyword form-group">
        <input type="text" class="form-control" placeholder="Keyword">
    </div><!-- /.form-group -->

    <div class="hero-image-location form-group">
        <select class="form-control" title="Location">
            <option>Bronx</option>
            <option>Brooklyn</option>
            <option>Manhattan</option>
            <option>Staten Island</option>
            <option>Queens</option>
        </select>
    </div><!-- /.form-group -->

    <div class="hero-image-category form-group">
        <select class="form-control" title="Category">
            <option value="">Automotive</option>
            <option value="">Jobs</option>
            <option value="">Nightlife</option>
            <option value="">Services</option>
        </select>
    </div><!-- /.form-group -->

    <div class="hero-image-price form-group">
        <input type="text" class="form-control" placeholder="Min. Price">
    </div><!-- /.form-group -->

    <button type="submit" class="btn btn-primary btn-block">Search</button>
</form>