<form method="get" action="{{ path('prestataire_search') }}">
    <h2>Chercher un prestataire</h2>

    <div class="hero-image-keyword form-group">
        <input type="text" class="form-control" name="prestataire" placeholder="Nom du prestataire">
    </div><!-- /.form-group -->

    <div class="hero-image-location form-group">
        <input type="text" class="form-control" name="localite" placeholder="Localité">
    </div><!-- /.form-group -->

    <div class="form-group">
        <select class="form-control" title="Categorie" name="categorie">
            <option value="">--- Toutes les categories ---</option>
            {% for categorieDeService in categorieDeServices %}
                <option value="{{ categorieDeService.nom }}">{{ categorieDeService.nom }}</option>
            {% endfor %}
        </select>
    </div><!-- /.form-group -->

    <button type="submit" class="btn btn-primary btn-block">Search</button>
</form>