<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}Bien-Être - Home Page{% endblock %}</title>
        {% block stylesheets %}{{ encore_entry_link_tags('app') }}{% endblock %}
    </head>
    <body>
        <div class="page-wrapper">
            {% block header %}{{ include('partials/_header.html.twig') }}{% endblock %}
            {% block body %}{% endblock %}
            {% block footer %}{{ include('partials/_footer.html.twig') }}{% endblock %}
        </div>
        {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
